html {
    font-size: 62.5%;
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 60px;
}

/* header/navigointi mobiili säännöt alkaa */

header {
    background-color: #B5E188;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9999;
    box-sizing: border-box;
}
.navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.navbar-links {
    display: none;
    width: 100%;
}
.navbar-links.active {
    display: flex;
    padding-bottom: 1rem;
}
.navbar-links ul {
    width: 100%;
}
.navbar-links li {
    text-align: center;
}
.navbar-links li a {
    text-decoration: none;
    padding: 1rem;
    color: #1E591E;
    font-size: 1.4rem;
    display: block;
}
.navbar-links li:hover {
    background-color: #D5DEDF;
}
.logo {
    font-size: 2.4rem;
    color: #1E591E;
    padding: 2rem;
}
.toggle-button {
    color: #1E591E;
    text-decoration: none;
    position: absolute;
    top: 2.7rem;
    right: 2rem;
}

.anchor {
    display: block;
    position: relative;  
    top: -80px;
    visibility: hidden;
}

/* header/navigointi mobiili säännöt loppuu */




/*Footer alkaa!*/
footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #20591f;
    color: white;
    padding: 20px 0 30px;
}

footer h1 {
    font-size: 20px;
    color: #f6e7ca;
    padding-bottom: 10px;
}

footer li {
    font-size: 12px;
    color: #f6e7ca;
    line-height: 1.5;
}

footer a {
    color: #f6e7ca;
}

footer img {
    width: 100px;
    margin: auto;
    display: block;
    padding-top: 20px;
}

#footer {
    display: flex;
    justify-content: space-evenly;
    max-width: 350px;
    margin: auto;
}

.fa-brands {
    color: #f6e7ca
}



/* Ohjelmisto sectionin (id "program" CSS-säännöt alkaa */
#programHeader {
    font-size: 2rem;
    font-weight: bold;
    margin-block-end: 1rem;
}
#weekHeader {
    font-size: 1.5rem;
    margin-inline-start: 1.5rem;
    margin-block-end: 1.5rem;
}
#program {
    padding: 2rem;
    position: relative;
}
.movies {
    display: flex;
    flex-direction: row;
    background-color: #fcfcfc;
    border: solid 1px gray;
    border-radius: 1rem;
    padding: 1rem;
    margin: 0.5rem;
}
.movies > * {
    flex-basis: 0;
    flex-grow: 1;
}
.poster {
    display: block;
    border: white solid 3px;
    margin-inline-end: 1rem;
}
img {
    width: 100%;
}
.summary {
    padding: 0 1rem 0 1rem
}
.movieName {
    font-size: 1.6rem;
    margin-block-end: 1rem;
    font-weight: bold;
}
.movieInfo{
    margin: 2rem 0 1rem 1rem;
}
td {
    padding: 0 1rem 0 1rem;
}
.reservation {
    text-align: center;
    
}
.reservation p {
    line-height: 1.5rem;
}
.showtime {
    font-size: 1.7rem;
    font-weight: bold;
    padding: 0.5rem;
    line-height: 1.8rem;
}
.tickets {
    background-color: #b6e189;
    font-weight: bold;
    margin: 1rem;
    padding: 1rem;
    border-radius: 0.5rem;
}
/* Program sectionin CSS säännöt loppuu tähän */


/* Tablet-näkymän css-säännöt. */
@media only screen and (min-width: 426px) {

    /* header/navigointi tablet/desktop säännöt alkaa */

    .navbar {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .navbar-links {
        margin: 1rem;
        width: auto;
    }
    .navbar-links, .navbar-links ul, .navbar-links.active {
        display: flex;
    }
    .toggle-button {
        display: none;
    }

   /* header/navigointi tablet/desktop säännöt loppuu */

}

/* Desktop-näkymän css-säännöt. */
@media only screen and (min-width: 769px) {
    
  
}
